ssh_public_key_path = "/Users/USERNAME/.ssh/id_ed25519.pub"

bastion_ssh_public_key_path = "/Users/USERNAME/.ssh/id_ed25519.pub"

bastion_allowed_cidrs = ["YOUR.PUBLIC.IP/32"]

tenancy_ocid = "ocid1.tenancy.oc1..XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

iam_admin_group_name = "Administrators"

iam_tenancy_name = "tenancy"

home_region = "sa-vinhedo-1"